.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputContainer h1{
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 1.5rem;

}

.inputContainer h1 span {
    color: var(--primary-color);

}

.inputContainer div {
    display: flex;
    margin-bottom: 2rem;
}

.inputContainer input {
    width: 100%;
    padding: 0.5rem 0.2rem 0.5rem 0;
    text-indent: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.inputContainer input::placeholder {
    font-size: 0.9rem;
}

.inputContainer button {
    padding: 0 1rem;
    height: 3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

/* Background Animate*/

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 18s linear infinite;
}




.background li:nth-child(0) {
    left: 16%;
    width: 177px;
    height: 177px;
    bottom: -177px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 69%;
    width: 169px;
    height: 169px;
    bottom: -169px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 15%;
    width: 173px;
    height: 173px;
    bottom: -173px;
    animation-delay: 2s;
}
.background li:nth-child(3) {
    left: 76%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 8s;
}
.background li:nth-child(4) {
    left: 44%;
    width: 158px;
    height: 158px;
    bottom: -158px;
    animation-delay: 15s;
}
.background li:nth-child(5) {
    left: 49%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 22s;
}
.background li:nth-child(6) {
    left: 13%;
    width: 161px;
    height: 161px;
    bottom: -161px;
    animation-delay: 15s;
}
.background li:nth-child(7) {
    left: 18%;
    width: 139px;
    height: 139px;
    bottom: -139px;
    animation-delay: 7s;
}
.background li:nth-child(8) {
    left: 52%;
    width: 152px;
    height: 152px;
    bottom: -152px;
    animation-delay: 9s;
}
.background li:nth-child(9) {
    left: 74%;
    width: 119px;
    height: 119px;
    bottom: -119px;
    animation-delay: 19s;
}